extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  .wrapper 
    .about
      include ../common/present.pug 
      include ../common/about-content.pug   