extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script(src='about.bundle.js')  
block content
  .wrapper 
    main.about
      +present('present--about')
      include ../common/about-content.pug
      include ../common/map.pug 
      include ../common/footer.pug   