extends ../auth.layout.pug

block content
  .wrapper 
    .my-works
        +present('present--blog')
        main.content
            section.blog
                aside.blog__menu
                    ul.blog__list
                        li.blog__item.blog__item--active
                            a.blog__link(data-name="Самое важное в SCSS" href="#") Самое важное в SCSS
                        li.blog__item
                            a.blog__link(data-name="Приёмы в вёрстке, без которых не обходится ни один сайт" href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.blog__item
                            a.blog__link(data-name="Самый необходимый набор Gulp плагинов" href="#") Самый необходимый набор Gulp плагиновS
                        li.blog__item
                            a.blog__link(data-name="Что такое 'рыбный' текст" href="#") Что такое "рыбный" текст
                        li.blog__item
                            a.blog__link(data-name="Страдания юного Вертера" href="#") Страдания юного Вертера
                .blog__article.article
                    ul.article__list
                        li.article__item(data-name='Самое важное в SASS')
                            h2.article__title Самое важное в SASS
                            span.article__date 22 ноября 2018
                            .article__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.#[br]  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li.article__item(data-name='Приёмы в вёрстке, без которых не обходится ни один сайт')
                            h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                            span.article__date 12 ноября 2018
                            .article__text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        li.article__item(data-name='Самый необходимый набор Gulp плагинов')
                            h2.article__title Самый необходимый набор Gulp плагинов
                            span.article__date 15 ноября 2018
                            .article__text
                                p С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. #[br] Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения направлений прогрессивного развития.#[br] Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
                        li.article__item(data-name='Что такое "рыбный" текст')
                            h2.article__title Что такое "рыбный" текст
                            span.article__date 22 ноября 2018
                            .article__text
                                p С другой стороны реализация намеченных плановых заданий требуют определения и уточнения направлений прогрессивного развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение новых предложений. Разнообразный и богатый опыт консультация с широким активом в значительной степени обуславливает создание новых предложений. Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации систем массового участия.
                        li.article__item(data-name='Страдания юного Вертера')
                            h2.article__title Страдания юного Вертера
                            span.article__date 22 ноября 2018
                            .article__text.article__text--last
                                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
            include ../common/footer.pug
