section.about-content                 
    .about-content__user
        .about-content__text
            .title.title_about-smal
                h2.title__text обо мне 
        .resume
            .resume__avatar
                +image('../images/img/avatar.png','','resume__elem')
            .resume__description
                .description
                    h3.description__text кто я            
                    p.description__content  Я веб разработчик из Тюмени. Мне 32 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p.description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about-content__skill
        .description.description--content
            h3.description__text чем я могу быть #[br] вам полезна
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .skills
            ul.skills__list
                li.skills__item.skills-row
                    h4.skills-row__title Frontend
                    ul.skill-row__list 
                        each skill in ['HTML', 'CSS', 'JavaScript']
                            li.skill-row__item
                                .skill                                   
                                    svg.skill__circles(viewBox="0 0 120 120") 
                                        circle.skill__circle.skill__circle--hole(circle r="50" cx="50%" cy="50%")
                                        circle.skill__circle.skill__circle--under(circle r="50" cx="50%" cy="50%")
                                        circle.skill__circle.skill__circle--above(circle r="50" cx="50%" cy="50%")
                                    .skill__title #{skill}
                li.skills__item.skills-row
                    h4.skills-row__title BacKend
                    ul.skill-row__list 
                        each skill in ['PHP', 'mySQL', 'Node.js &npm', 'Mongo.db']
                            li.skill-row__item
                                .skill                                   
                                    svg.skill__circles(viewBox="0 0 120 120") 
                                        circle.skill__circle.skill__circle--hole(circle r="50" cx="50" cy="40")
                                        circle.skill__circle.skill__circle--under(circle r="50" cx="50" cy="40")
                                        circle.skill__circle.skill__circle--above(circle r="50" cx="50" cy="40")
                                    .skill__title #{skill}
                li.skills__item.skills-row
                    h4.skills-row__title WorkFlow
                    ul.skill-row__list 
                        each skill in ['Git', 'Gulp', 'Bower']
                           li.skill-row__item
                                .skill                                   
                                    svg.skill__circles(viewBox="0 0 120 120") 
                                        circle.skill__circle.skill__circle--hole(circle r="50" cx="50" cy="40")
                                        circle.skill__circle.skill__circle--under(circle r="50" cx="50" cy="40")
                                        circle.skill__circle.skill__circle--above(circle r="50" cx="50" cy="40")
                                    .skill__title #{skill}
               
                    


