ul.blog__list(id="blogList")
    li.blog__item
        a.blog__link(href="#anchor") Самое важное в SCSS
    li.blog__item
        a.blog__link(data-name="" href="#anchor2") Приёмы в вёрстке, без которых не обходится ни один сайт
    li.blog__item
        a.blog__link(data-name="" href="#anchor3") Самый необходимый набор Gulp плагиновS
    li.blog__item
        a.blog__link(data-name="" href="#anchor4") Что такое "рыбный" текст
    li.blog__item
        a.blog__link(data-name="" href="#anchor5") Страдания юного Вертера