heder.heder
    .heder__left
        +social('social__heder')
    .heder__right
        //- button.hamburger.hamburger--collapse
        //-     .hamburger-box
        //-         .hamburger-inner
        btn.hamburger.open(id="hamburger")
            .line.line--top
            .line.line--centr
            .line.line--bottom   
        
          
            
    