section.portfolio
    .portfolio__title
        .title.title_works
            h1.title__text мои работы
    .example-container
        #slider-component        
    
                

                    
        
        