.preloader
    .preloader__container
        .preloader__pic
        .preloader__elem 
            .preloader__dot
            .preloader__dot
            .preloader__dot
        .preloader__elem 
            .preloader__dot
            .preloader__dot
            .preloader__dot
        .preloader__elem 
            .preloader__dot
            .preloader__dot
            .preloader__dot
        .preloader__percents 0%