

.btn-botom{
    display: grid;
    grid-column: 1/2; 
    justify-content: center;
    align-items: center;    
   height: 100%;    
    position: relative;
    outline: 0;
    padding: 0;    
    
    @include tablets($tablets){
        grid-column: 2/3;
        grid-row: 1;
        
    }
}

.btn-botom::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;        
    background-color: #b0b7aa;
    opacity: 0.7;

    &:hover{
        background-color: #77836c;
    }

}

.btn-botom__pic{    
    height:80%;  
    width: 100%; 

    @include phones($phones){
        width:90% ;
        height:70%;  
    }
}

.btn-botom__elem{
    width: 50px;
    height: 30px;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    @include phones($phones){
        top: 45%;
        left: 30%; 
    }
    
}

.btn-botom__icon{
    margin-left: -50px;
    width: 100%;
    height: 100%;
    transform: rotate(-180deg) translate(-50%);
}