.comment{
    display: flex;  
    flex-flow: column;    
    align-items: center;  
    width: 100vw;
    height: 100%;    
    background: url(./assets/images/img/fon.png) center center no-repeat;

    @include tablets($tablets){            
       background-position: bottom;          
            
    } 

    @include phones($phones){
        padding-left: 5%;
        padding-right: 5%;       
        
    }
}

.comment__title  {
    display: flex;    
    text-align: center;
    height: 250px;
    width: 380px;   
    position: relative;
    line-height:2.3;  

    @include phones($phones){
        height: 155px;       
        
    }
}

.comment-content  {
    display: flex;
    justify-content: center;
    align-items: center;   

}

.comment-content__list{
    display: flex;  
    justify-content: center;    
    width: 50%;
    margin-bottom: 70px;

    @include desktop($desktop){            
        width: 70%;              
    }

    @include tablets($tablets){            
        width: 80%;              
            
    } 

    @include phones($phones){
        flex-flow: column;        
        
    }
} 

    

.comment-content__item{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    @include roboto-regular;
    width: 50%;
    margin-right:25px;

    &:last-child{
        margin-right: 0;
    }

    @include phones($phones){
       width: 100%;
       margin-right: 0;
       &:first-child{
        margin-bottom:30px;
       }       
        
    }
}
.comment-content__avatar{
    display: flex;    
    border-radius: 50%;    
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 20px;
}

.comment-content__text{
    color: #373e42;
    font-style: italic;
    margin-bottom: 25px;
}

.comment-content__label{
    font-style: italic;
    color: $darkgreen;
}

.comment-content__origin{
    color: #373e42;
    font-style: italic;
}


