.description{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

.description__text{
    display: flex;
    flex-flow: column;
    text-align: center;  
    align-items: center;  
    @include Sansus;
    font-size: 35px;
    color: #566358;
    margin-bottom: 25px;

    &::after{
        background:$gray;
        content: "";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 3px;
        margin-top: 20px;
        width: 90px;
    
    }
    
}

.description__technology{
    @include roboto-regular;
    color: $darkgreen;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.description__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background: $green;
   // border: 1px solid #ffffff;
    text-decoration: none;
    border-radius: 30px;
    
    &:hover{
        background: $darkgreen;
        border: 0 solid ;        
    }

    &:active{        
        box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
    }
}

.description__elem{
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.description__link{    
    width: 100%;
    height: 100%;
}

.description__btn-text{
    @include roboto-regular;
}

.description--content{
    margin-bottom: 60px;
}