.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background:svg-load('hamburger.svg', fill=#ffff) center center no-repeat;   
    
}

