.preloader{
   
    background:url(./assets/images/img/forest_pre.jpg)  50%/cover;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: top 1s linear;
    z-index: 240;
    
}

.preloader__container{
    left: 47%;
    position: absolute;
    top: 45%;
    width: 100px;
    height: 100px;
}

.preloader__pic{   
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 250;
    transform-origin: center;
    animation: anirotate 10s linear infinite; 
    width: 100px;
    height: 100px;
}


.preloader__elem {
    position: absolute;
    border: 0px solid #fff;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    &:nth-child(2) {
      transform: rotate(40deg);
      .preloader__dot {
        //animation-delay: -0.35s;
        animation-delay: -0.5s;
      }
    }
    &:nth-child(3) {
      transform: rotate(80deg);
      .preloader__dot {
        //animation-delay: -0.35s;
        animation-delay: -1s;
      }
    }
  }
.preloader__dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 5px;
    transform: translate(0, 0);
    &:nth-child(1) {
      top: 0;
      left: calc(50% - 5px);
      animation: ani1 2s infinite;
    }
    &:nth-child(2) {
      bottom: calc(28% - 5px);
      left: calc(11% - 5px);
      animation: ani2 2s infinite;
    }
    &:nth-child(3) {
      bottom: calc(28% - 5px);
      right: calc(11% - 5px);
      animation: ani3 2s infinite;
  
    }
}

@keyframes anirotate {
    0% {
      transform: rotate(0deg);
  
    }
    100% {
      transform: rotate(-359deg);
    }
  }
  
  @keyframes ani1 {
    0% {
      transform: translate(0, 0);
  
    }
    100% {
      transform: translate(-40px, 67px);
    }
  }
  
  @keyframes ani2 {
    0% {
      transform: translate(0, 0);
  
    }
    100% {
      transform: translate(77px, 0);
    }
  }
  
  @keyframes ani3 {
    0% {
      transform: translate(0, 0);
  
    }
    100% {
      transform: translate(-39px, -67px);
    }
  }

  .preloader__percents{
    left: 40%;
    position: absolute;
    top: 35%;
    @include roboto-regular;
    font-weight: 500;
    z-index: 250;
    animation: blink1 2s linear infinite;
}

@keyframes blink1 {
  0% { color: rgba(255, 255, 255, 0); }
  50% { color:  rgba(255, 255, 255, 1); }
  100% { color: rgba(255, 255, 255, 0); }
}
  

// .preloader__svg{
  
//     fill: #f4f5f0;
//     height:95px;
//     width: 95px;
// }