.present{
    display: flex;    
    flex-flow: column;    
    background:url(./assets/images/img/forest.png) center center no-repeat;  
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;    
}

.present__user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    

    
}

.present__scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    position: relative;
    width: 100%;

    &::after{
        content:'';
        display: block;
        position: absolute;       
        right: 0;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0;             
        border-bottom: 155px solid #f8f9f5;
        border-left: 60.75rem solid transparent;     

    }

    &::before{
        content:'';
        display: block;
        position: absolute;       
        left:  -1;
        right: 50%;
        bottom: 0;
        width: 0;
        height: 0;             
        border-bottom: 155px solid #f8f9f5;
        border-right: 60.75rem solid transparent;

    }
}

.present--about
.present__scroll{
    &::before{
        border-bottom: 155px solid #ebefe2;
    }


}

.present--blog
.inscription{
    background: url(./assets/images/img/blog.png) center center no-repeat;
}


